h1 {
  color: darkblue
}

* {
  text-align: center;
  direction:rtl;
}

body{
  /* display: flex; */
  padding:5rem;
  /* background-color:rgb(189, 189, 189) */
}

.page{
  /* flex-grow:1 */
}

.rbc-event {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%; 
  width: 100%; 
  white-space: normal;
  word-wrap: break-word; 
  
}


.add-button {
  align-items: center;
  margin: 10px;
  background-color: #4a76dc;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}













/* עיצוב כללי של ה-navbar */
nav {
  background-color: #2c3e50; /* צבע כהה למראה מודרני */
  padding: 1rem; /* ריווח פנימי */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* הוספת צל קטן */
}

/* עיצוב של רשימת הלינקים */
nav ul {
  list-style: none; /* ביטול הנקודות של הרשימה */
  display: flex;
  justify-content: space-around; /* רווח שווה בין האלמנטים */
  margin: 0;
  padding: 0;
}

/* עיצוב של כל לינק */
nav ul li a {
  text-decoration: none; /* ביטול קו תחתון */
  color: #ecf0f1; /* צבע טקסט בהיר */
  font-size: 1.1rem; /* גודל פונט */
  font-weight: 500; /* עובי פונט */
  transition: color 0.3s ease; /* אנימציה חלקה לשינוי צבע */
}

/* אפקט hover */
nav ul li a:hover {
  color: #1abc9c; /* צבע מודגש בעת מעבר עכבר */
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* טקסט עם צל */
}

/* עיצוב רספונסיבי */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column; /* סידור אנכי במסכים קטנים */
    align-items: center;
  }

  nav ul li {
    margin-bottom: 0.5rem; /* ריווח בין הלינקים */
  }
}
